.App {
  text-align: center;
  background-color: #282c34;
  margin-bottom: 25px;
}

li {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 40px;
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* for task 8-1*/
.done {
  text-decoration: line-through;
}
/* for task 8-2*/
.done-1 {
  color: tomato;
}
/* for task 8-3*/
.done-3 {
  display: none;
}
/* for task 8-8*/
.time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #fff;
  padding: 10px 0;
}
.notes {
  text-align: left;
}
/* for task 8-16*/
h4 {
  color: lightblue;
}
.wrongly{
  color: tomato;
}
.rightly{
  color: lightgreen;
}
